{% extends 'base.html' %}

{% block title %}
{{news_title.title}} :: {{block.super}}
{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}


<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{news_item.category}}</a>
    </div>
    <div class="card-body">

        {% if news_item.photo %}
        <img src="{{ news_item.photo.url }}" alt="" width="350" class="float-left mr-3">
        {% else %}
        <img src="https://images.unsplash.com/photo-1617854818583-09e7f077a156?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
             alt="" width="350" class="float-left mr-3">
        {% endif %}

        <h5 class="card-title">{{ news_item.title }}</h5>
        <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>


    </div>
    <div class="card-footer text-muted">
        {{news_item.created_at|date:'Y-m-d H:m'}}
    </div>
</div>
{% endblock %}


